@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');


.logo-div{
    width: 200px;
}


p.signIn-paragraph {
    width: 118px;
    height: 35px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
}

.section-header, .listitems{
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}

.search-image{
    height: 213px;
}

.logout {
    background-color: blanchedalmond;
    width: 100px;
    height: 50px;
}


@media screen and (max-width: 768px) and (min-width: 1024px) {
    

  }
